.template-article {

    .grid {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .grid__item {
        float: none;
        font-size: 1em;

        header {
            text-align: center;
            padding-bottom: $gutter*2;
            @include media-query($small) {
                padding-bottom: $gutter;
            }

            p {
                text-align: center;
                margin-bottom: 0; 
            }
        }

        p {
            text-align: left;
        }
    }
}

header {
    li {
        list-style-type: none;
    }
} 

.intro {
    margin: 0;
    font-size: 1.2em;
}

figure {
    margin: 40px;
}

figcaption {
    border-bottom: 1px solid #a1a1a1;
    font-size: 0.9em;
    font-style: oblique;
    padding: 0.5em;
}

.credits {
    font-size: 0.9em;
    font-style: oblique;
    padding-top: 0.5em;
}