.template-blog {
    .grid {
        margin-right: -$gutter;
        margin-left: -$gutter*2;
    }
    .grid__item {
        padding-left: $gutter;
    }
    .grid__sizer {
        width: calc(33.333% - $gutter);
    }
}
.blog-nav {
    width: 83%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0 auto $gutter auto;

    li {
        margin: 0 10px;
    }
}

.rudiment-article {
    text-align: center;
}

/*================ Mobile ================*/

@include media-query($small) {
    .template-blog {
        .grid__sizer {
            width: calc(50% - $gutter);
        }
    }
    .blog-nav {
        margin: $gutter auto $gutter auto;
    }
}