.success-button {
    background-color: $rudigreen;
}
p.ajaxified-cart-feedback {
    line-height: 1.5em;
}

.template-cart {
table {

    tr {
        display: block;
        margin-bottom: 2em;
        border-bottom: 1px solid;

        &:last-of-type {
            margin-bottom: 0;
        }

    }
    td {
        text-align: left;
        border-bottom: 0;
        vertical-align: top;
        padding: 1.5em;
        @include media-query($small) {
            padding: 1em;
        }

        &:last-of-type {
            padding-right: 0;
        }

        &.image {
            width: 20%;
            padding-left: 0;
        }
        &.remove {
            a {
                float: right;
                clear: left;
            }
        }
    }
}
}

input {  
    background-clip: padding-box;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.btn2 {
    border: 0;
    background: transparent;
}
.btn {
    font-family: $font-stack-body;
    width: 50%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    margin: 10px 0;
}
