.grid.endless-scroll {
    .grid__item {
        &:nth-of-type(4) { padding-bottom: $gutter*4;}
        &:nth-of-type(5) { padding-bottom: $gutter*4;}
        &:nth-of-type(9) { padding-bottom: $gutter*4;}
        &:nth-of-type(10) { padding-bottom: $gutter*4;}
    }
}

// &:nth-of-type(1) { @extend .one-half; @extend .medium-up--push-none; @extend .medium-up--padding-top-none;}
        
  /*================ Mobile ================*/

  @include media-query($small) {
    .grid.endless-scroll {
        .grid__item {
            &:first-of-type { padding-top: 0; }
            &:nth-of-type(4) { padding-bottom: 0; }
            &:nth-of-type(5) { padding-bottom: 0; }
            &:nth-of-type(9) { padding-bottom: 0; }
            &:nth-of-type(10) { padding-bottom: 0; }
        }
    }
  }