.grid.endless-scroll {
    .one-half:not(:nth-of-type(1)) {
        clear: both;
        padding-top: $gutter*2;
        @include media-query($small) {
            padding-top: $gutter;
        }
    }
    .four-twelfths {
        @include media-query($medium-up) {
            padding-top: $gutter*2;
        }
    }
    @include media-query($medium-up) {
        .grid__item {
            &:nth-of-type(2) { padding-top: 0; }
        }
    }
}

.endless-pagination {
    text-align: center;
}

// &:nth-of-type(1) { @extend .one-half; @extend .medium-up--push-none; @extend .medium-up--padding-top-none;}
        
  /*================ Mobile ================*/

  @include media-query($small) {
    .grid.endless-scroll {
        .grid__item {
            &:first-of-type { padding-top: 0; }
            &:nth-of-type(4) { padding-bottom: 0; }
            &:nth-of-type(5) { padding-bottom: 0; }
            &:nth-of-type(9) { padding-bottom: 0; }
            &:nth-of-type(10) { padding-bottom: 0; }
        }
    }
  }
