{% section 'product' %}
{% comment %} {% section 'related-products' %} {% endcomment %}
<div class="grid">
<div class="grid__item medium-up--padding-top-two small--padding-top-three">
  <header class="section-header">
    <h3>Also. . .</h3>
  </header>

<div class="grid related">
  {% include 'cross-sell' %}
</div>

</div>
</div>