<div class="toggle-content toggle-content-delivery">
    <div class="size-chart-full">
        <div class="close-button">
            <a class="toggle-delivery">
                {% include 'icon-close' %}
            </a>
        </div>
        <div class="content">
        <h1>Delivery information</h1>
            Orders within Europe are generally shipped within 2-5 days. <br><br>
            For more information about delivery time and costs please click <a style="text-decoration: underline;" href="/pages/shipping-and-returns">here</a>.
        </div>
    </div>
</div>