<div class="toggle-content toggle-content-delivery">
<div class="size-chart-full">
<div style="position: fixed; top: 60px; right: 60px;">
    <a class="toggle-delivery">
    {% include 'icon-close' %}
    </a>
</div>
<div>
<h1>Delivery information</h1>
Complimentary Standard shipping for orders over 450 € <br><br>

If for some reason you are not fully satisfied with your order, you have 14 days to return it. <br><br>

Standard Delivery to Ireland within 2 to 5 days<br><br>

Express Delivery to Ireland within 1 to 4 days<br><br>

For more details please visit our assistance pages.


{% comment %} Please note delivery charges vary based on weight and country. <br>
You can find a comprehensive shipping chart <a href="/pages/shipping-and-returns" style="text-decoration: underline;">here</a>.  {% endcomment %}
</div>
{% comment %} <div class="table" style="width: 70%; text-align: left;">
<h1>Delivery information</h1>
<table class="size-guide-table" style="text-align: left;">
    <tr>
    <td>Shipping Zone</td>
    <td>Standard UPS</td>
    <td>UPS Express 0 - 2,5kg</td>
    <td>UPS Express 2,5 - 7,5kg</td>
    </tr>
    <tr>
    <td>Germany</td>
    <td>free</td>
    <td>5,00 €</td>
    <td>5,00 €</td>
    </tr>
    <tr>
    <td>Belgium, Luxembourg, Netherlands</td>
    <td>15,00 €</td>
    <td>40,00 €</td>
    <td>-</td>
    </tr>
    <tr>
    <td>Austria, Denmark, France, Monaco, Sweden</td>
    <td>15,00 €</td>
    <td>40,00 €</td>
    <td>80,00 €</td>
    </tr>
    <tr>
    <td>Finland, Ireland, Italy, Portugal, 
Spain, United Kingdom</td>
    <td>25,00 €</td>
    <td>40,00 €	</td>
    <td>80,00 €</td>
    </tr>
    <tr>
    <td>Açores, Madeira</td>
    <td>-</td>
    <td>40,00 €</td>
    <td>80,00 €</td>
    </tr>
    <tr>
    <td>Canada, United States, Cyprus, Malta, </td>
    <td>-</td>
    <td>50,00 €</td>
    <td>100,00 €</td>
    </tr>
    <tr>
    <td>Switzerland, Norway, Liechtenstein, Jersey, Guernsey, San Marino</td>
    <td>35,00 €</td>
    <td>50,00 €</td>
    <td>100,00 €</td>
    </tr>
    <tr>
    <td>Croatia, Czech Republic, Poland, Slovakia, Slovenia</td>
    <td>25,00 €</td>
    <td>50,00 €</td>
    <td>100,00 €</td>
    </tr>
    <tr>
    <td><a href="https://rudigernreich.myshopify.com/pages/world-zones/" style="text-decoration: underline;">World Zone 1</a></td>
    <td>-</td>
    <td>65,00 €</td>
    <td>130,00 €</td>
    </tr>
    <tr>
    <td><a href="https://rudigernreich.myshopify.com/pages/world-zones/" style="text-decoration: underline;">World Zone 2</a></td>
    <td>-</td>
    <td>70,00 €</td>
    <td>150,00 €</td>
    </tr>
    <tr>
    <td><a href="https://rudigernreich.myshopify.com/pages/world-zones/" style="text-decoration: underline;">World Zone 3</a></td>
    <td>-</td>
    <td>80,00 €</td>
    <td>190,00 €</td>
    </tr>
    <tr>
    <td><a href="https://rudigernreich.myshopify.com/pages/world-zones/" style="text-decoration: underline;">World Zone 4</a></td>
    <td>-</td>
    <td>140,00 €</td>
    <td>250,00 €</td>
    </tr>
    <tr>
    <td><a href="https://rudigernreich.myshopify.com/pages/world-zones/" style="text-decoration: underline;">World Zone 5</a></td>
    <td>-</td>
    <td>230,00 €</td>
    <td>300,00 €</td>
    </tr>
</table>
</div> {% endcomment %}
</div>
</div>