<form id="subscribe-form" action="https://rudigernreich.us18.list-manage.com/subscribe/post-json?u=3f4382ce9ff0dc514dc0911f1&amp;id=879e3f2550" method="get">
    <div id="mc_embed_signup_scroll">

    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display: none;">
        </div>
        <div class="response" id="mce-success-response" style="display: none;">
        </div>
    </div>

    <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="text" name="b_3f4382ce9ff0dc514dc0911f1_879e3f2550" tabindex="-1" value="">
    </div>

    <div id="subscribe-box">
        <div id="subscribe-result">
            sign up
        </div>

        <div class="input">
            <div id="email-input" style="flex-basis: 95%;">
                <input type="email" placeholder="email" value="" name="EMAIL" autocomplete="off" style="width: 100%; border: 0; text-indent: 0px;">
            </div>

            <div id="submit-button" style="flex-basis: 5%;">
                <input type="submit" value="→" name="subscribe" id="change-border" style="width: 100%; border: 0; background: transparent;">
            </div>
        </div>
    </div>

    </div>
</form>