  <div class="grid__item {{ width }} small--one-whole small--padding-top-default newsletter">
    <div id="subscribe-box" style="display: flex;">
    <form action="/search" method="get" role="search" style="width: 100%; display: flex; border-bottom: 1px solid #717171;">
      <div id="email-input" style="flex-basis: 95%;">
    <input type="search"
          name="q"
          id="Search"
          autocomplete="off"
          value=""
          placeholder="{{ placeholder }}"
          style="width: 100%; border: 0; padding-bottom: 10px;">
    </div>
      <div id="submit-button" style="flex-basis: 5%;">    
    <input type="submit" value="→" style="width: 100%; border: 0; background: transparent; padding-bottom: 10px;">
    </div>
    <input type="hidden" name="type" value="product" />
  </form>
      </div>
</div>